      <% input = cookies.fetch(:visitor) %>
      <% if input == nil %>
      <h1>Welcome to Pelumi's world 😊 !</h1>
      <% else %>
      <h1>Welcome to Pelumi's world <%= input %> 😊 !</h1>
      <% end %>    


<dt>
  <h7>
  Pelumi Bamgbala is an MBA Candidate at <a href = https://www.chicagobooth.edu/ target="_blank"> The University of Chicago Booth School of Business.</a>
  </h7>
  <h6>
  <a href = https://www.chicagobooth.edu/ target="_blank">
    <img src ="https://i.ibb.co/VLhQ0kr/Picture1.jpg" height="400" width="750">
  </a> 
  </h6>
</dt>


<dt>
  <h7>
  Prior to Booth, she earned her BSc. Economics from <a href = https://oauife.edu.ng/ target="_blank"> Obafemi Awolowo University, Ile-Ife, Nigeria.</a>
  </h7>
  <h6>
    <a href = https://oauife.edu.ng/ target="_blank">
      <img src ="https://sunnewsonline.com/wp-content/uploads/2021/10/OAU5.png" height="400" width="750">
    </a> 
    </h6>
</dt>



<dt>
  Pelumi is passionate about developing and executing business strategy leveraging big data and qualitative operations knowlegde. She is also a <a href = https://www.cfainstitute.org/ target="_blank"> Chartered Financial Analyst. </a>
  </h7>
</dt>


<div style="border: thin green solid; color: green">
  Thanks for visiting Pelumi's world! © Copyright 2022 Pelumi Bamgbala Management
</div>