
<img src="https://i.ibb.co/R2JhCcF/Pelumi.jpg">

<h4> 
  Pelumi Bamgbala is a Nigerian poet and adventure-seeker currently pursuing an MBA at <a href = https://www.chicagobooth.edu/ target="_blank"> The University of Chicago Booth School of Business </a>
</h4>

<h5>
  She is an innovative problem solver who loves exploring new ways to solve challenges particularly those related to financial inclusion and diversity. She enjoys travelling and immersing herself in different cultures by eating local dishes and visiting cities and villages in each country she finds herself.
</h5>

<table border="1">
  <tr>
    <th><a href="/personal">Personal life</a></th>
    <th><a href="/education">Education</a></th>
    <th><a href="/professional">Professional life</a></th>
  </tr>

  <tr>
    <td>
      <img src="https://www.totalmerchantconcepts.com/uploads/Goals.jpg" width="400",
      height="400"> 
    </td>

    <td>
      <img src="https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1356&h=668&fit=crop" width="400",
      height="400" >
    </td>

  
    <td>
      <img src="https://m.economictimes.com/thumb/msid-60916721,width-900,height-900,resizemode-4,imgsize-170135/five-ways-to-build-a-rewarding-career.jpg" width="400",
      height="400" >
    </td>

    </tr>
   
