<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>
    <h1>Welcome to Pelumi's world!</h1>

    <li>
        <a href="/personal">Personal life</a>
    </li>
     <li>
        <a href="/education">Education</a>
    </li>
     <li>
        <a href="/professional">Professional life</a>
    </li>
      
  <body>
    <%= yield %>
  </body>
</html>
